body
{
    background: url("img/background-top.gif") repeat-x;
}

.logoContainer
{
    width: 100%;
    height: 157px;
    position:relative;
}
.logo
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:url("img/logo_bbc_sport.png") no-repeat;
    width: 280px;
    height:50px;
}

.top__story__container
{
    width: 100%;
    height: 465px;
    position:relative;
    font-family: 'Lato', sans-serif;
}

.img__top__story
{
    width: 480px;
    height:270px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.top__story__title
{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.top__story__title a
{
    color: #000000;
    cursor: default;
    text-decoration: none;
}

.second__top__story__container
{
    width: 100%;
    height: 245px;
}

.story__title
{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}